<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear rutina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ejercicios</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <!-- Encabezados -->
        <ion-item lines="none" class="table-header">
          <ion-label>Nombre de ejercicio</ion-label>
          <ion-label></ion-label>
        </ion-item>

        <!-- Filas -->
        <ion-item *ngFor="let exercise of exercises; let i = index">

          <ion-input
            placeholder="Ej: Press banca"
            [(ngModel)]="exercise.name">
          </ion-input>

          <ion-button
            fill="clear"
            color="danger"
            (click)="removeExercise(i)">
            🗑
          </ion-button>

        </ion-item>

      </ion-list>

      <!-- Botón + -->
      <div class="add-button">
        <ion-button fill="outline" shape="round" (click)="addExercise()">
          +
        </ion-button>
      </div>

      <ion-button
        expand="block"
        color="primary"
        (click)="openRoutineModal()">
        Crear rutina
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
