<ion-header>
  <ion-toolbar class="px-4 bg-white">
    <ion-title class="text-xl font-semibold tracking-tight">
      GymActivities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-gray-50">

  <div class="px-4 py-6 max-w-md mx-auto">

    <!-- TÍTULO -->
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-lg font-semibold text-gray-900">
        Rutinas
      </h2>
    </div>

    <!-- SIN RUTINAS -->
    <div
      *ngIf="routines.length === 0"
      class="text-center text-gray-400 italic py-10">
      Aún no tienes rutinas creadas
    </div>

    <!-- LISTA DE RUTINAS -->
    <ion-card
      *ngFor="let routine of routines; let i = index"
      (click)="startRoutine(routine)"
      class="relative mb-4 rounded-3xl bg-white shadow-sm hover:shadow-lg transition-all duration-300 active:scale-[0.98]">

    <ion-button
      fill="clear"
      color="danger"
      class="absolute top-3 right-3 z-10"
      (click)="deleteRoutine(i); $event.stopPropagation()">

      <ion-icon
        name="trash-outline"
        class="text-xl"
        color="black">
      </ion-icon>

    </ion-button>


      <ion-card-header class="pb-2">
        <ion-card-title class="text-lg font-semibold text-gray-900 text-center">
          {{ routine.name }}
        </ion-card-title>

        <ion-card-subtitle class="text-sm text-gray-500 mx-4">
          {{ routine.exercises.length }} ejercicios
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="pt-0">

        <div class="space-y-1">
          <div
            *ngFor="let ex of routine.exercises | slice:0:3"
            class="text-sm text-gray-700">
            • {{ ex.name }}
          </div>
        </div>

        <div
          *ngIf="routine.exercises.length > 3"
          class="mt-2 text-xs text-gray-400">
          +{{ routine.exercises.length - 3 }} más
        </div>

      </ion-card-content>

    </ion-card>

    <!-- BOTÓN CREAR RUTINA -->
    <ion-button
      expand="block"
      class="mt-8 h-14 rounded-2xl text-base font-semibold tracking-wide"
      (click)="goToCreate()">
      Crear rutina
    </ion-button>


  </div>

</ion-content>
