<ion-header>
  <ion-toolbar class="px-4 bg-white">
    <ion-title class="text-xl font-semibold tracking-tight">
      Entrenamiento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-gray-50">

  <div class="px-4 py-6 max-w-md mx-auto space-y-4">

    <!-- EJERCICIOS -->
    <ion-card
      *ngFor="let ex of exercises; let i = index"
      class="rounded-3xl bg-white shadow-sm">

      <ion-card-header class="pb-2">
        <ion-card-title class="text-lg font-semibold text-gray-900 text-center">
          {{ ex.name }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="pt-0 space-y-3">

        <!-- SERIES -->
        <div
          *ngFor="let set of ex.sets; let j = index"
          class="flex items-center gap-3">

          <!-- PESO -->
          <ion-input
            type="number"
            placeholder="Peso"
            [(ngModel)]="set.weight"
            class=" flex-1 rounded-xl border border-gray-200 px-3 py-2 text-sm">
          </ion-input>

          <!-- REPS -->
          <ion-input
            type="number"
            placeholder="Reps"
            [(ngModel)]="set.reps"
            class="flex-1 rounded-xl border border-gray-200 px-3 py-2 text-sm">
          </ion-input>

          <!-- ELIMINAR SERIE -->
          <ion-button
            fill="clear"
            color="danger"
            (click)="removeSet(i, j)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>

        </div>

        <!-- AGREGAR SERIE -->
        <ion-button
          size="small"
          (click)="addSet(i)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>

      </ion-card-content>

    </ion-card>

    <!-- TERMINAR RUTINA -->
    <ion-button
      expand="block"
      color="success"
      class="mt-6 h-14 rounded-2xl text-base font-semibold tracking-wide"
      (click)="finishWorkout()">
      Terminar rutina
    </ion-button>

  </div>

</ion-content>
